.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e2a3a; /* Dark blue-gray background */
}

.landing-container .avatar {
  margin-bottom: 1rem;
  width: 5rem; 
  height: 5rem; 
  border-radius: 9999px;
  object-fit: cover;
}

.landing-container .landing-box {
  width: 400px;
  padding: 32px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  text-align: center;
  background-color: #263141; /* Slightly lighter than main background */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #364759;
}

.landing-container .landing-title {
  margin-bottom: 16px;
  color: #e0e0e0;
}

.landing-container .landing-message {
  margin-bottom: 8px;
  color: #a0aec0;
}

.landing-container .landing-button {
  margin-top: 8px;
  background-color: #1a6ccaec;
  color: white;
}

.landing-container .landing-button:hover {
  background-color: #0056b3;
}